<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- meta tag de compatibilidade com o internet explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sala - Rocket.Q</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/room.css">
    <link rel="stylesheet" href="/styles/modal.css">

    <!-- Esse primeiro link faz com que a fonte seja carregada em primeiro lugar. Como um pré loading -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="room" class="content">
      <header>
        <a href="/">
          <img src="/images/Logo.svg" alt="Logo Rocket.Q">
        </a>

        <div class="header-buttons">
          <button class="button outlined" id="room-id" data-id="<%= roomId %>">
            #<%= roomId %>
            <img src="/images/copy.svg" alt="Copiar código da sala">

          </button>

          <a class="button" href="/create-pass">
            <img src="/images/users-white.svg" alt="Criar sala">
            Criar Sala
          </a>
        </div>
      </header>

      <main>
        <section id="question-form">
          <h1>Faça sua pergunta</h1>

          <form action="/question/create/<%= roomId %>" method="POST">
            <label class="sr-only" for="question">O que você quer perguntar?</label>
            <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

            <footer>
              <div>
                <img src="/images/lock.svg" alt="Cadeado">
                Esta pergunta é anônima
              </div>
              <button class="button">Enviar</button>
            </footer>
          </form>
        </section>

        <section id="questions">
          <h2 class="sr-only">Perguntas da comunidade</h2>

          <% if(!hasQuestion) { %>
            <%- include('parts/empty-questions') %>
          <% } %>

          <% questions.map(item => { %>
            <div class="question-wrapper">
              <div class="question-content">
                <span class="user">
                  <img src="/images/user.svg" alt="Avatar do usuário">
                </span>
                <p class="question">
                  <%= item.question %>
                </p>
              </div>
              <div class="actions">
                <a href="#" class="check" data-id="<%= item.id %>">
                  <img src="/images/check.svg" alt="Marcar como lida">
                  Marcar como lida
                </a>
                <a href="#" class="delete" data-id="<%= item.id %>">
                  <img src="/images/trash.svg" alt="Excluir">
                  Excluir
                </a>
              </div>
            </div>
          <% }) %>

          <% questionsReaded.map(readedItem => { %>
            <div class="question-wrapper readed">
              <div class="question-content">
                <span class="user">
                  <img src="/images/user.svg" alt="Avatar do usuário">
                </span>
                <p class="question">
                  <%= readedItem.question %>
                </p>
              </div>
              <div class="actions">

                <img src="/images/check.svg" alt="Marcar como lida">
                Pergunta lida

              </div>
            </div>
          <% }) %>

        </section>
      </main>
    </div>

    <!-- MODAL -->

    <div class="modal-wrapper">
      <div class="modal">
        <h2>Excluir Pergunta</h2>
        <p>Tem certeza que você deseja excluir esta pergunta?</p>

        <form action="#" method="POST">
          <label class="sr-only" for="password">Digite sua senha de administrador da sala</label>
          <input type="password" name="password" id="password" placeholder="Digite sua senha">

          <div class="modal-buttons">
            <div class="button grey cancel">Cancelar</div>
            <button class="button red" type="submit">Sim, excluir</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/scripts/main.js" defer type="module"></script>
  </body>
</html>